/* space mono import */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* ibm plex sans import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/* root color codes */
:root {
    --coreGrey: #333333;
    --coreDarkGrey: #262626;
    --coreLightGrey: #505050;
    --coreBlue: #1e1f26;
    --coreLightBlue: #8bc9fa;
    --coreWhite: #ffffff;
    --coreBlack: #030303;
}


/* general */
body {
  background-color: var(--coreGrey);
}

h1, h2, h3, h4, h5, span, p {
  color: var(--coreWhite) !important;
  font-family: "Space Mono";
}

input, button.footer-button, button {
  font-family: "Space Mono";
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 14px;
  font-weight: 100;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
  line-height: 1;
}

.btn-primary {
  --bs-btn-bg: var(--coreBlack);
  --bs-btn-border-color: var(--coreBlack);
  --bs-btn-hover-bg: var(--coreBlue);
  --bs-btn-hover-border-color: var(--coreBlue);
  --bs-btn-active-color: var(--coreBlack);
  --bs-btn-active-bg: var(--coreWhite);
  --bs-btn-active-border-color: var(--coreWhite);
}

.btn-special {
  --bs-btn-bg: var(--coreLightBlue);
  --bs-btn-border-color: var(--coreLightBlue);
  --bs-btn-hover-bg: var(--coreBlue);
  --bs-btn-hover-border-color: var(--coreBlue);
  --bs-btn-active-color: var(--coreBlack);
  --bs-btn-active-bg: var(--coreWhite);
  --bs-btn-active-border-color: var(--coreWhite);
}

.opacity-30 {
  opacity: 0.3;
}

.card {
  background-color: var(--coreGrey);
}

#footer {
  margin-top: 50px;
  background-color: var(--coreDarkGrey);
  margin-bottom: 0;
}

.footer-icon {
  width: 35px;
  height: 35px;
}

.footer-button {
  width: 150px;
}


/* home page styles */
#hero-banner::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  z-index: 1;
}

#hero-banner #hero-text {
  position: relative;
  z-index: 2;
}

#brand-name {
  font-size: 28px;
}

#highlight-article, #recent-articles {
  padding-top: 25px;
  text-align: center;
}

#highlight-card {
  text-align: left;
  background-color: var(--coreLightGrey);
}

/* .read-hover {
  display: none;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  transition:(bottom 0.5s);
} */

.card-img-overlay .read-hover {
  position: relative;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.card-img-overlay:hover .read-hover {
  opacity: 1;
}


/* space mono styles */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

/* ibm plex sans styles */
.ibm-plex-sans-thin {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-sans-extralight {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-sans-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-sans-medium {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-sans-semibold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-sans-thin-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .ibm-plex-sans-extralight-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .ibm-plex-sans-light-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ibm-plex-sans-regular-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ibm-plex-sans-medium-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ibm-plex-sans-semibold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .ibm-plex-sans-bold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  