body {
    font-family: "Roboto", sans-serif;
}

#first-paragraph::first-letter {
    font-size: 35px;
    color: red;
}

blockquote {
    font-size: 25px;
    padding: 30px;
    border-left:3px solid rgb(48, 48, 48);
    margin: 20px 0;
}

button {
    background-color: grey;
    padding:12px 24px;
    border:none;
    border-radius: 8px;
    transition: 0.3s;
}

button a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

button:hover {
    background-color: orange;
    padding:13px 25px;
}